<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Livraria do Código</title>





<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
<link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link rel="stylesheet" th:href="@{/vendors/sweetalert/sweetalert.css}" />
<link rel="stylesheet" th:href="@{/vendors/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" />
<script type="text/javascript" th:src="@{/vendors/jquery/jquery.js}"></script>
</head>

	
<body>

<header>
	
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">Livraria do Código</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse-navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse" id="collapse-navbar">
		    <ul class="navbar-nav mr-auto">
		      
		      <li class="nav-item" >
		        <a class="nav-link" th:href="@{/home}"><i class="fa fa-book"></i>Home</a> 
		      </li>
		      <li class="nav-item" >
		        <a class="nav-link" th:href="@{/editora}"><i class="fa fa-book"></i>Editora</a> 
		      </li>
		      <li class="nav-item" >
		        <a class="nav-link" th:href="@{/categoria}"><i class="fa fa-book"></i>Categoria</a> 
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" th:href="@{/assunto}"><i class="fa fa-book"></i>Assunto</a> 
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" th:href="@{/livro}"><i class="fa fa-book"></i>Livro</a> 
		      </li>
		       <li class="nav-item">
		        <a class="nav-link" th:href="@{/fornecedor}"><i class="fa fa-book"></i>Fornecedor</a> 
		      </li>
		      		      
		    </ul>
		  </div>
		</nav>		
	
	</header>
	
	<section class="ut-layout-content" layout:fragment="conteudo">
		As páginas serão carregadas aqui...
	</section>
	
	<script type="text/javascript" th:src="@{/vendors/sweetalert/sweetalert-dev.js}"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/vendors/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
	<script src="http://parsleyjs.org/dist/parsley.min.js"></script>
    <script type="text/javascript" th:src="@{/vendors/parsley/pt-br.js}"></script>
	
	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<th:block layout:fragment="script"></th:block>
</body>
</html>