<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-padrao}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>LojaWeb</title>
</head>
<body>
        
        
        <section  layout:fragment="conteudo">
        <div class="container my-5">
        	<h2>Formulário de Cadastro - Editora</h2>
        	
        	<div class="row">
        		<form th:action="@{/editora}" method="post" 
        			th:object="${editora}">
        			<div class="row">
        				<div class="form-group">
	        				<label for="id">Código</label>
	        				<input type="text" class="form-control"
	        				   th:field="*{id}"	readonly/>
        				</div>
        			</div>
        			
        			<div class="row">
        				<div class="form-group">
	        				<label for="nome">Nome</label>
	        				<input type="text" class="form-control"
	        					th:field="*{nome}" />
        					<span th:if="${#fields.hasErrors('nome')}"
        						th:errors="*{nome}"
        						class="text-danger"
        					></span>
        				</div>
        			</div>
        			
        			<div class="row">
        				<button class="btn btn-primary" 
        					type="submit" >Salvar</button>
        				<button class="btn btn-danger" 
        					type="reset" >Cancelar</button>
        			</div>
        		</form>
        	</div> <!-- FIM div row -->
        </div>
        </section>
</body>
</html>